<div class="fixed">
    <nav class="top-bar" data-ng-controller=TopBarController>
        <section class="top-bar-section hide-for-medium-up">
            <ul class="left title-area" style="width: auto;">
                <li class="name">
                    <a data-ui-sref="board.boards()"><i class="fa fa-database">&nbsp;</i>&nbsp;boards</a>
                </li>
            </ul>

            <ul class="right" style="width: auto;">
                <li class="right">
                    <a data-ng-click="logout()" style="font-size: 1rem;padding-right: 15px">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </li>
                <li data-ng-show="!isEmpty(project)" class="right">
                    <a data-ui-sref="board.cards.create({ project_path: project.path_with_namespace })" style="font-size: 1rem;padding-right: 15px">
                        <i class="fa fa-plus"></i>
                    </a>
                </li>
            </ul>
        </section>

        <section class="top-bar-section hide-for-small-only">
            <ul class="left title-area">
                <li class="name">
                    <a data-ui-sref="board.boards()"><i class="fa fa-database">&nbsp;</i>&nbsp;boards</a>
                </li>
                <li data-ng-show="!isEmpty(project)">
                     <a data-ui-sref="board.cards({project_path: project.path_with_namespace})">{{project.name_with_namespace}}</a>
                </li>
                <li class="has-form" data-ng-show="!isEmpty(project)">
                    <div class="row collapse">
                        <form method="get" data-ng-submit="filter()">
                            <div class="large-12 small-9 columns">
                                <input type="text" placeholder="Filter by @username or ^milestone" data-ng-model="filterval"
                                       data-typeahead="u for u in getFilter($viewValue)" class="form-control">
                            </div>
                        </form>
                    </div>
                </li>
            </ul>

            <ul class="right">
                <li data-ng-show="!isEmpty(project)">
                    <a data-ui-sref="board.cards.create({ project_path: project.path_with_namespace })">
                        <i class="fa fa-plus"></i>&nbsp;&nbsp;Add issue
                    </a>
                </li>
                <li>
                    <a data-ng-click="logout()">
                        <i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout
                    </a>
                </li>
            </ul>
        </section>
    </nav>
</div>
